
{% extends 'common_code/base.html' %}

{% block title %} Blogs {% endblock title %}

{% block alert %}
    <div class="alert alert-primary" role="alert">
        <h1>📝 Blog1 – Our First Blog</h1>
    </div>
{% endblock alert %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>📝 Blog1 – Our First Blog</h2>
                <p>🚀 This is our first blog. We are excited to share our thoughts with you. Stay tuned for more blogs.</p>
            </div>
            <div class="col-md-4">
                <h3>📅 Date</h3>
                <p>📆 2021-08-01</p>
            </div>
        </div>
    </div>
{% endblock content %}

